{% extends 'base.html' %}
{% block content %}


        <div id="main-wrapper" class="home landing-page">
            <section class="banner">
               <div class="container">
                    <div class="welcome-page d-flex align-center justify-content-between">
                        <div class="welcome-wrapper">
                            <h1>
                                Welcome to the test !
                            </h1>
                            <h3>You have successfully logged in.</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate aperiam nesciunt incidunt eaque. Quia animi repudiandae quo aut id nulla voluptates fugiat asperiores amet voluptate suscipit tempore ullam, corporis excepturi?</p>
                        </div>
                    </div> 
               </div>
            </section>
{% endblock %}          


